
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Basic
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, button {
	color: $brand-primary;
	outline: 0;
	@include transition(all 0.3s ease-in-out);

	&:hover, &:focus {
		color: darken($brand-primary, 10%);
		outline: 0;
		text-decoration: none;
	}
}