
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Buttons
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.btn {
	font-size: 16px;
	padding: 10px 45px;
	text-transform: uppercase;
}