
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Content
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.content {

	section {
		padding: 75px 0;
		@extend .text-center;

		@media screen and (max-width: $screen-sm-min) {
			padding: 50px 0;
		}

		h2 {
			font-size: 45px;

			@media screen and (max-width: $screen-lg-min) {
				font-size: 35px;
			}

			@media screen and (max-width: $screen-md-min) {
				font-size: 28px;
			}

			@media screen and (max-width: $screen-sm-min) {
				font-size: 21px;
				line-height: 28px;
			}

			small {
				color: $text-color;
				font-size: 25px;

				@media screen and (max-width: $screen-lg-min) {
					font-size: 18px;
				}

				@media screen and (max-width: $screen-md-min) {
					font-size: 16px;
				}

				@media screen and (max-width: $screen-sm-min) {
					font-size: 14px;
				}
			}
		}

		a {
			color: $text-color;

			&:hover, &:focus {
				color: $brand-primary;
			}
		}

		hr {
			margin-top: 40px;
		}
	}
}

.no-padding-left {
	padding-left: 0;
	padding-right: 0;
}
